In [35]:
#importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [36]:
#to read the csv file
customer_data=pd.read_csv('churn_prediction.csv')

In [37]:
#to print the first 5 rows 
customer_data.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,days_since_last_transaction,...,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,1,3135,66,Male,0.0,self_employed,187.0,2,755,224.0,...,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0
1,2,310,35,Male,0.0,self_employed,NaN,2,3214,60.0,...,8704.66,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0
2,4,2356,31,Male,0.0,salaried,146.0,2,41,NaN,...,5815.29,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0
3,5,478,90,NaN,NaN,self_employed,1020.0,2,582,147.0,...,2291.91,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1
4,6,2531,42,Male,2.0,self_employed,1494.0,3,388,58.0,...,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1

In [38]:
#converting the columns into a list
columns=customer_data.columns.values.tolist()
print(columns)

['customer_id', 'vintage', 'age', 'gender', 'dependents', 'occupation', 'city', 'customer_nw_category', 'branch_code', 'days_since_last_transaction', 'current_balance', 'previous_month_end_balance', 'average_monthly_balance_prevQ', 'average_monthly_balance_prevQ2', 'current_month_credit', 'previous_month_credit', 'current_month_debit', 'previous_month_debit', 'current_month_balance', 'previous_month_balance', 'churn']

In [39]:
#print the number of rows and columns
customer_data.shape

(28382, 21)

In [40]:
#finding the total number missing values
customer_data.isnull().sum()

customer_id                          0
vintage                              0
age                                  0
gender                             525
dependents                        2463
occupation                          80
city                               803
customer_nw_category                 0
branch_code                          0
days_since_last_transaction       3223
current_balance                      0
previous_month_end_balance           0
average_monthly_balance_prevQ        0
average_monthly_balance_prevQ2       0
current_month_credit                 0
previous_month_credit                0
current_month_debit                  0
previous_month_debit                 0
current_month_balance                0
previous_month_balance               0
churn                                0
dtype: int64

In [41]:
#dtypes used to check for continuous and categorical variables(continuous stored as int or float, categorical stored as object)
customer_data.dtypes

customer_id                         int64
vintage                             int64
age                                 int64
gender                             object
dependents                        float64
occupation                         object
city                              float64
customer_nw_category                int64
branch_code                         int64
days_since_last_transaction       float64
current_balance                   float64
previous_month_end_balance        float64
average_monthly_balance_prevQ     float64
average_monthly_balance_prevQ2    float64
current_month_credit              float64
previous_month_credit             float64
current_month_debit               float64
previous_month_debit              float64
current_month_balance             float64
previous_month_balance            float64
churn                               int64
dtype: object

In [42]:
#finding the mean of the column(days_sincd_last_transaction) as it contains missing values
days_since_last_transaction_mean=customer_data['days_since_last_transaction'].mean()
print(days_since_last_transaction_mean)

69.99781390357327

In [43]:
#Replacing the missing values by the mean 
customer_data['days_since_last_transaction']=customer_data['days_since_last_transaction'].fillna(value=days_since_last_transaction_mean)

In [44]:
#finding the mean of dependents column
dependents_mean=customer_data['dependents'].mean()
print(dependents_mean)

0.34723561865812724

In [45]:
#Replacing the missing values by the mean
customer_data['dependents']=customer_data['dependents'].fillna(value=dependents_mean)

In [46]:
#finding the mode of the column(city) [mode because it is a continuous variable]
city_mode=customer_data['city'].mode
print(city_mode)

<bound method Series.mode of 0         187.0
1           NaN
2         146.0
3        1020.0
4        1494.0
5        1096.0
6        1020.0
7         623.0
8        1096.0
9        1020.0
10        409.0
11       1096.0
12         44.0
13        409.0
14        665.0
15       1232.0
16       1125.0
17       1096.0
18        146.0
19       1020.0
20       1020.0
21       1020.0
22        905.0
23        931.0
24        218.0
25       1533.0
26       1563.0
27        836.0
28        118.0
29        834.0
          ...
28352    1020.0
28353    1589.0
28354     243.0
28355    1540.0
28356     231.0
28357    1020.0
28358    1020.0
28359     409.0
28360     834.0
28361     575.0
28362     146.0
28363     334.0
28364     656.0
28365     223.0
28366     485.0
28367     409.0
28368     362.0
28369    1437.0
28370     575.0
28371    1096.0
28372    1320.0
28373    1381.0
28374    1076.0
28375     146.0
28376    1589.0
28377    1020.0
28378    1046.0
28379    1096.0
28380    1219.0
28381    1232.0
Name: city, Length: 28382, dtype: float64>

In [47]:
#Filling the NaN(missing value)by the series mode of 0= 187 & print the first 10 values
customer_data['city']=customer_data['city'].fillna(value=187)
customer_data['city'].head(10)

0     187.0
1     187.0
2     146.0
3    1020.0
4    1494.0
5    1096.0
6    1020.0
7     623.0
8    1096.0
9    1020.0
Name: city, dtype: float64

In [48]:
#Finding the count of male and female
customer_data['gender'].value_counts()

Male      16548
Female    11309
Name: gender, dtype: int64

In [49]:
#Filling the missing values in gender to Females
customer_data['gender']=customer_data['gender'].fillna(value='Female')
customer_data['gender'].head(10)

0      Male
1      Male
2      Male
3    Female
4      Male
5    Female
6      Male
7      Male
8      Male
9      Male
Name: gender, dtype: object

In [50]:
customer_data['gender'].value_counts()

Male      16548
Female    11834
Name: gender, dtype: int64

In [51]:
customer_data['occupation'].value_counts()

self_employed    17476
salaried          6704
student           2058
retired           2024
company             40
Name: occupation, dtype: int64

In [52]:
customer_data=pd.get_dummies(customer_data)
customer_data.head()

,customer_id,vintage,age,dependents,city,customer_nw_category,branch_code,days_since_last_transaction,current_balance,previous_month_end_balance,...,current_month_balance,previous_month_balance,churn,gender_Female,gender_Male,occupation_company,occupation_retired,occupation_salaried,occupation_self_employed,occupation_student
0,1,3135,66,0.000000,187.0,2,755,224.000000,1458.71,1458.71,...,1458.71,1458.71,0,0,1,0,0,0,1,0
1,2,310,35,0.000000,187.0,2,3214,60.000000,5390.37,8704.66,...,6496.78,8787.61,0,0,1,0,0,0,1,0
2,4,2356,31,0.000000,146.0,2,41,69.997814,3913.16,5815.29,...,5006.28,5070.14,0,0,1,0,0,1,0,0
3,5,478,90,0.347236,1020.0,2,582,147.000000,2291.91,2291.91,...,2291.91,1669.79,1,1,0,0,0,0,1,0
4,6,2531,42,2.000000,1494.0,3,388,58.000000,927.72,1401.72,...,1157.15,1677.16,1,0,1,0,0,0,1,0

In [53]:
#Dropping churn column and assigning to x
x = customer_data.drop('churn',axis=1)
#Assigning the churn column values to y
y = customer_data['churn']

In [55]:
#Splitting the dataset into train and test set
from sklearn.model_selection import train_test_split
train_x, valid_x, train_y, valid_y= train_test_split(x, y, test_size = 0.3, random_state=1,stratify=y)

In [56]:
train_y.value_counts()/len(train_y)

0    0.814668
1    0.185332
Name: churn, dtype: float64

In [57]:
valid_y.value_counts()/len(valid_y)

0    0.81468
1    0.18532
Name: churn, dtype: float64

# LogisticRegression

In [63]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, auc
from sklearn.metrics import roc_auc_score

In [64]:
logreg = LogisticRegression()
logreg.fit(train_x, train_y)

C:\Users\Meghana Thara\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [65]:
pred_train = logreg.predict_proba(train_x)
pred_valid = logreg.predict_proba(valid_x)

In [66]:
roc_auc_score(train_y, pred_train[:,1])

0.7318120432257589

In [67]:
roc_auc_score(valid_y, pred_valid[:,1])

0.731651767957608

# Random Forest

In [68]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, max_depth= 4, random_state=2)

In [69]:
rf.fit(train_x, train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=2, verbose=0, warm_start=False)

In [70]:
pred_train_rf = rf.predict_proba(train_x)
pred_valid_rf = rf.predict_proba(valid_x)

In [71]:
roc_auc_score(train_y, pred_train_rf[:,1])

0.818597332546666

In [72]:
roc_auc_score(valid_y, pred_valid_rf[:,1])

0.821158350192471

In [73]:
pd.Series(rf.feature_importances_,index=train_x.columns)

customer_id                       0.001326
vintage                           0.008897
age                               0.001733
dependents                        0.000299
city                              0.000646
customer_nw_category              0.000624
branch_code                       0.002173
days_since_last_transaction       0.009085
current_balance                   0.381444
previous_month_end_balance        0.064512
average_monthly_balance_prevQ     0.026614
average_monthly_balance_prevQ2    0.037077
current_month_credit              0.015707
previous_month_credit             0.012692
current_month_debit               0.138073
previous_month_debit              0.092617
current_month_balance             0.182807
previous_month_balance            0.022660
gender_Female                     0.000135
gender_Male                       0.000093
occupation_company                0.000000
occupation_retired                0.000075
occupation_salaried               0.000266
occupation_self_employed          0.000245
occupation_student                0.000201
dtype: float64